html, body {
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.el {
  margin: 50px;
}

#progress-marker, #start-marker {
  border: 1px solid;
}

.progress-ring {
  position: fixed;
  right: 50px;
  transform: rotate(-90deg);
}

input {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
}
